@mixin flex-center($fd: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $fd;
}

@mixin ellipsis($rows: 1) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: $rows;
}
