// Color Palette
$black: #000;
$white: #fff;
$gray-1: #f7f8fa;
$gray-2: #f2f3f5;
$gray-3: #ebedf0;
$gray-4: #dcdee0;
$gray-5: #c8c9cc;
$gray-6: #969799;
$gray-7: #646566;
$gray-8: #323233;
$green: #18ceb5;

// Component Colors
$text-color: $gray-8;
$active-color: $gray-2;
$active-opacity: 0.7;
$disabled-opacity: 0.5;
$background-color: $gray-1;
$background-color-light: #fafafa;
$text-link-color: #576b95;

// Font
$font-size-xs: 20rpx;
$font-size-sm: 24rpx;
$font-size-md: 28rpx;
$font-size-lg: 32rpx;
$font-weight-bold: 500;
$line-height-xs: 28rpx;
$line-height-sm: 36rpx;
$line-height-md: 40rpx;
$line-height-lg: 44rpx;

// Border
$border-radius-sm: 6rpx;
$border-radius-md: 12rpx;
$border-radius-lg: 24rpx;
